.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0em;
  border: white;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 60em;
    max-height: calc(100% - 1em);
  }
}
._modal-close-icon {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 3;
  margin: 5px 0px 0px 250px;
}

.modal-body {
  padding-top: 0.25em;
}

._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

h1 {
  color: black;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 30px;
}

form {
  text-align: left;
  width: 100%;
  margin: 0px;
}

.form-control {
  border: none;
  border-bottom: 1px solid grey;
  padding: 0px 0px 0px 0px;
}
#descricao {
  border: none;
  border-bottom: 1px solid grey;
  padding: 60px 0px 0px 0px;
}

#salvarNovoProcesso {
  margin: 10px 0px 0px 650px;
}
